.rec-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-cont {
  height: 550px;
  margin-top: 150px;
}

img {
  height: 100%;
}

.desription {
  font-style: italic;
  width: 65%;
  text-align: center;
  font-size: 22px;
  margin: 100px;
  font-weight: 365;
}

.nutrition {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.serv-time-cont {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.label {
  margin-right: 8px;
  font-weight: 750;
}

.margin-ten {
  margin-right: 10px;
}

.extras-cont {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}