.tile {
  height: 450px;
  width: 400px;
  background-color: lightcoral;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.tile-img {
  height: 225px;
}

.tile-img img {
  height: 100%;
}

.title {
  cursor: pointer;
}