.menu-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  color: blueviolet;
}

.search-cont {
  display: flex;
  align-items: center;
}