html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.main-cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}